node_modules
heroku/public/js/bundle.min.js
heroku/public/stylesheets/*.css
heroku/public/articles/*.html
!heroku/public/stylesheets/bootstrap-responsive.min.css
!public/stylesheets/bootstrap.min.css
/templates/*.js
dist/views.js
build.coffee
# Ignore articles, but keep directory structure
public/articles/*
!public/articles/.gitkeep
/heroku/public/js/fileInformation.json
