node_modules
heroku/public/js/bundle.min.js
/tools/fileInformation.json
heroku/public/stylesheets/*.css
heroku/public/articles/*.html
!heroku/public/stylesheets/bootstrap-responsive.min.css
!public/stylesheets/bootstrap.min.css
/templates/views.js

# Ignore articles, but keep directory structure
public/articles/*
!public/articles/.gitkeep
