!!! strict
html
  head
    meta#author(name="author", content="")
    link(rel='stylesheet', href='/stylesheets/style.css')
    | <!--[if IE]>
    |     <link rel="stylesheet" href="/stylesheets/gh-fork-ribbon.ie.css" />
    | <![endif]-->
  body
    block content
