#navbar.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container
      button.btn.btn-navbar(type="button",
                            data-toggle="collapse",
                            data-target=".nav-collapse")
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.title.brand(href="#")
      .nav-collapse.collapse
        .nav
          li.active: a(href="#") Home
          li: a(href="#about") About
          li: a(href="#contact") Contact
