extends layout

block content
  if 1
    include navbar
  else
    include github-ribbon
    .container
      h1: a.title(href="/")
      h3: a.subtitle(href="/")
  #content.container-fluid
    .row-fluid
      #article.span9(value="#{file_urls}")
      #sidebar.span3
  footer#footer
    script(src="/js/bundle.min.js")
    if develop
      script(src="/js/develop/libs.js")
      script(src="/js/develop/prettify.js")
    script(src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js")
